<!DOCTYPE html>

<html>
  <head>
    <title>A FizzBuzz microservice</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <h2>A FizzBuzz microservice</h2>
      <h3>How to use it:</h3>
      <ol class="user-stories">
        <li>
          The REST API endpoint is
          <code>GET [project_url]/test/:number? </code>
        </li>
        
      <h3>Example Usage:</h3>
      <ul>
        <li>
          <a href="test/3">
            [project url]/test/3</a
          >
        </li>
        <li>
          <a href="test/-15"
            >[project url]/test/-15</a
          >
        </li>
      </ul>
      </ol>
    
    <div class="footer">
      <p>by Javier Silva Ortíz</p>
    </div>
    </div>
  </body>
</html>
